!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title MyCVapp
    %link{:charset => "utf-8", :href => "css/global.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:charset => "utf-8", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "/js/validate.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "/js/application.js", :type => "text/javascript"}
    :javascript
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-5917265-20']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
  %body
    #header
      %h2#mycvapp_counter
        we created
        %strong 5,875,214
        resumes today
      %h1#logo
        %a{:href => "/", :title => ""} MyCVapp
    / /header
    #signup.join
      %h2
        Sign up to
        = succeed "app" do
          %strong mycv
      %p
        Do you have an account already?
        %a{:href => "/login", :title => "Login" } Sign In
      %form{"accept-charset" => "utf-8", :action => "/signup", :method => "post"}
        %fieldset
          %p.first
            %label{:for => "email"} Email
            %span
              %input#email.required.email{:name => "email", :type => "text", :value => ""}/
          %p
            %label{:for => "password"} Password
            %span
              %input#password.required{:name => "password", :type => "password", :value => ""}/
          %p
            %label{:for => "username"} Username
            %span
              %input#username.required{:name => "username", :type => "text", :value => ""}/
              %small Your public name
          %p.last
            %button{:type => "submit"} Sign Up
    / /login
    #footer
      %ul
        %li
          %strong Get in touch:
          %a{:href => "mailto:hi@mycvapp.com", :title => "Get In Touch"} hi@mycvapp.com
          \/
          %a{:href => "http://www.twitter.com/mycvapp", :title => "Follow us on Twitter!"} @mycvapp
        %li
          %strong Get Started:
          %a{:href => "/signup", :title => "Sign Up"} Sign Up
          \/
          %a{:href => "/login", :title => "Login"} Log In
        %li
          Copyright © 2010 mycvapp - All Rights Reserved. Hosted by
          %a{:href => "http://www.heroku.com", :title => "Hosted by Heroku"} Heroku
    / /footer